In [1]:
#Now that we gained experience with the dataset and the python-bibs we can do some further datacleaning and conversion for the features we want to use in the modeling part
#import bibs
import pandas as pd

In [2]:
#read in data 
df_accidents = pd.read_csv('data/US_Accidents_March23.csv', index_col = 'ID')

In [3]:
#output data
df_accidents

,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
ID,,,,,,,,,,,,,,,,,,,,,
A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.010,Right lane blocked due to accident on I-70 Eas...,...,False,False,False,False,False,False,Night,Night,Night,Night
A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.010,Accident on Brice Rd at Tussing Rd. Expect del...,...,False,False,False,False,False,False,Night,Night,Night,Day
A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.010,Accident on OH-32 State Route 32 Westbound at ...,...,False,False,False,False,True,False,Night,Night,Day,Day
A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.010,Accident on I-75 Southbound at Exits 52 52B US...,...,False,False,False,False,False,False,Night,Day,Day,Day
A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.010,Accident on McEwen Rd at OH-725 Miamisburg Cen...,...,False,False,False,False,True,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A-7777757,Source1,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,0.543,At Market St - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
A-7777758,Source1,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,0.338,At Camino Del Rio/Mission Center Rd - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
A-7777759,Source1,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,0.561,At Glassell St/Grand Ave - Accident. in the ri...,...,False,False,False,False,False,False,Day,Day,Day,Day
A-7777760,Source1,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,0.772,At CA-90/Marina Fwy/Jefferson Blvd - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
A-7777761,Source1,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,0.537,At Highland Ave/Arden Ave - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day

In [4]:
#get datatypes 
df_accidents.dtypes
#features that we want to convert: Start_time/End_Time, Description, Street, City, County, State, Zipcode, Country, Timezone

Source                    object
Severity                   int64
Start_Time                object
End_Time                  object
Start_Lat                float64
Start_Lng                float64
End_Lat                  float64
End_Lng                  float64
Distance(mi)             float64
Description               object
Street                    object
City                      object
County                    object
State                     object
Zipcode                   object
Country                   object
Timezone                  object
Airport_Code              object
Weather_Timestamp         object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                     bool
Stop                        bool
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object

In [5]:
df_accidents.isna().sum()

Source                         0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  3402762
End_Lng                  3402762
Distance(mi)                   0
Description                    5
Street                     10869
City                         253
County                         0
State                          0
Zipcode                     1915
Country                        0
Timezone                    7808
Airport_Code               22635
Weather_Timestamp         120228
Temperature(F)            163853
Wind_Chill(F)            1999019
Humidity(%)               174144
Pressure(in)              140679
Visibility(mi)            177098
Wind_Direction            175206
Wind_Speed(mph)           571233
Precipitation(in)        2203586
Weather_Condition         173459
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset             23246
Civil_Twilight             23246
Nautical_Twilight          23246
Astronomical_Twilight      23246
dtype: int64

In [6]:
#show numbers of nan-values
df_accidents.isna().sum()

Source                         0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  3402762
End_Lng                  3402762
Distance(mi)                   0
Description                    5
Street                     10869
City                         253
County                         0
State                          0
Zipcode                     1915
Country                        0
Timezone                    7808
Airport_Code               22635
Weather_Timestamp         120228
Temperature(F)            163853
Wind_Chill(F)            1999019
Humidity(%)               174144
Pressure(in)              140679
Visibility(mi)            177098
Wind_Direction            175206
Wind_Speed(mph)           571233
Precipitation(in)        2203586
Weather_Condition         173459
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset             23246
Civil_Twilight             23246
Nautical_Twilight          23246
Astronomical_Twilight      23246
dtype: int64

In [7]:
for column in df_accidents.columns:
    nan_count = df_accidents[column].isna().sum()
    print(f"Column '{column}' has {nan_count} NaN values.")

Column 'Source' has 0 NaN values.
Column 'Severity' has 0 NaN values.
Column 'Start_Time' has 0 NaN values.
Column 'End_Time' has 0 NaN values.
Column 'Start_Lat' has 0 NaN values.
Column 'Start_Lng' has 0 NaN values.
Column 'End_Lat' has 3402762 NaN values.
Column 'End_Lng' has 3402762 NaN values.
Column 'Distance(mi)' has 0 NaN values.
Column 'Description' has 5 NaN values.
Column 'Street' has 10869 NaN values.
Column 'City' has 253 NaN values.
Column 'County' has 0 NaN values.
Column 'State' has 0 NaN values.
Column 'Zipcode' has 1915 NaN values.
Column 'Country' has 0 NaN values.
Column 'Timezone' has 7808 NaN values.
Column 'Airport_Code' has 22635 NaN values.
Column 'Weather_Timestamp' has 120228 NaN values.
Column 'Temperature(F)' has 163853 NaN values.
Column 'Wind_Chill(F)' has 1999019 NaN values.
Column 'Humidity(%)' has 174144 NaN values.
Column 'Pressure(in)' has 140679 NaN values.
Column 'Visibility(mi)' has 177098 NaN values.
Column 'Wind_Direction' has 175206 NaN values.
Column 'Wind_Speed(mph)' has 571233 NaN values.
Column 'Precipitation(in)' has 2203586 NaN values.
Column 'Weather_Condition' has 173459 NaN values.
Column 'Amenity' has 0 NaN values.
Column 'Bump' has 0 NaN values.
Column 'Crossing' has 0 NaN values.
Column 'Give_Way' has 0 NaN values.
Column 'Junction' has 0 NaN values.
Column 'No_Exit' has 0 NaN values.
Column 'Railway' has 0 NaN values.
Column 'Roundabout' has 0 NaN values.
Column 'Station' has 0 NaN values.
Column 'Stop' has 0 NaN values.
Column 'Traffic_Calming' has 0 NaN values.
Column 'Traffic_Signal' has 0 NaN values.
Column 'Turning_Loop' has 0 NaN values.
Column 'Sunrise_Sunset' has 23246 NaN values.
Column 'Civil_Twilight' has 23246 NaN values.
Column 'Nautical_Twilight' has 23246 NaN values.
Column 'Astronomical_Twilight' has 23246 NaN values.

In [8]:
#Drop columns that are not needed like 'Source', 'Wind_Chill(F)' --> not significant
#'End_Lat' and 'End_Lng' are also not significant, because we focus on the start points (\"cause\" areas) of the accidents

df_accidents.drop('Source', axis=1, inplace=True)
df_accidents.drop('Wind_Chill(F)', axis=1, inplace=True)
df_accidents.drop('End_Lat', axis=1, inplace=True)
df_accidents.drop('End_Lng', axis=1, inplace=True)

In [9]:
#Drop also 'Percipitation(in)' because auf too many NaN values
df_accidents.drop('Precipitation(in)', axis=1, inplace=True)

In [10]:
#Drop Weather_Timestamp: The most timestamps are recorded within 10-15 minutes after the accident started. Despite that, there are over 120k NaN values in the column
df_accidents.drop('Weather_Timestamp', axis=1, inplace=True)

In [11]:
#Drop all rows with at least one NaN value
df_accidents_cleaned = df_accidents.dropna()
print("Count of rows after cleaning: ", df_accidents_cleaned.shape[0])

Count of rows after cleaning:  7051556

In [14]:
#display amount fo
df_accidents_cleaned.isna().sum()

Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
Distance(mi)             0
Description              0
Street                   0
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             0
Temperature(F)           0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)           0
Wind_Direction           0
Wind_Speed(mph)          0
Weather_Condition        0
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
dtype: int64

In [12]:
df_accidents_cleaned.to_csv('data/edited_file.csv')