In [1]:
#Now that we gained experience with the dataset and the python-bibs we can do some further datacleaning and conversion for the features we want to use in the modeling part
#import bibs
import pandas as pd

In [2]:
#read in data 
df_accidents = pd.read_csv('data/edited_file.csv', index_col = 'ID')

In [3]:
#output data
df_accidents

,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,source_severity,Year,Month,Day,Hour,Duration
ID,,,,,,,,,,,,,,,,,,,,,
1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.010,Right lane blocked due to accident on I-70 Eas...,...,Night,Night,Night,Night,Source23,2016,2,0,5,18840.0
2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.010,Accident on Brice Rd at Tussing Rd. Expect del...,...,Night,Night,Night,Day,Source22,2016,2,0,6,1800.0
3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.010,Accident on OH-32 State Route 32 Westbound at ...,...,Night,Night,Day,Day,Source22,2016,2,0,6,1800.0
4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.010,Accident on I-75 Southbound at Exits 52 52B US...,...,Night,Day,Day,Day,Source23,2016,2,0,7,1800.0
5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.010,Accident on McEwen Rd at OH-725 Miamisburg Cen...,...,Day,Day,Day,Day,Source22,2016,2,0,7,1800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7777757,Source1,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,0.543,At Market St - Accident.,...,Day,Day,Day,Day,Source12,2019,8,4,18,1716.0
7777758,Source1,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,0.338,At Camino Del Rio/Mission Center Rd - Accident.,...,Day,Day,Day,Day,Source12,2019,8,4,19,1613.0
7777759,Source1,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,0.561,At Glassell St/Grand Ave - Accident. in the ri...,...,Day,Day,Day,Day,Source12,2019,8,4,19,1708.0
7777760,Source1,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,0.772,At CA-90/Marina Fwy/Jefferson Blvd - Accident.,...,Day,Day,Day,Day,Source12,2019,8,4,19,1761.0
7777761,Source1,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,0.537,At Highland Ave/Arden Ave - Accident.,...,Day,Day,Day,Day,Source12,2019,8,4,18,1765.0

In [4]:
#get datatypes 
df_accidents.dtypes
#features that we want to convert: Start_time/End_Time, Description, Street, City, County, State, Zipcode, Country, Timezone

Source                    object
Severity                   int64
Start_Time                object
End_Time                  object
Start_Lat                float64
Start_Lng                float64
End_Lat                  float64
End_Lng                  float64
Distance(mi)             float64
Description               object
Street                    object
City                      object
County                    object
State                     object
Zipcode                   object
Country                   object
Timezone                  object
Airport_Code              object
Weather_Timestamp         object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                     bool
Stop                        bool
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
source_severity           object
Year                       int64
Month                      int64
Day                        int64
Hour                       int64
Duration                 float64
dtype: object

In [ ]:
#convert