In [17]:
import statsmodels.api as sm
import pandas as pd
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [2]:
#read in data
accidents = pd.read_csv('data/MA3_finished.csv', index_col='ID')

In [3]:
#look at data
print(accidents.head)

<bound method NDFrame.head of          Unnamed: 0  Severity           Start_Time             End_Time  \
ID
0                 0         2  2016-02-08 06:49:27  2016-02-08 07:19:27
1                 1         3  2016-02-08 07:23:34  2016-02-08 07:53:34
2                 2         2  2016-02-08 07:39:07  2016-02-08 08:09:07
3                 3         3  2016-02-08 07:44:26  2016-02-08 08:14:26
4                 4         2  2016-02-08 07:59:35  2016-02-08 08:29:35
...             ...       ...                  ...                  ...
7051551     7051551         2  2019-08-23 18:03:25  2019-08-23 18:32:01
7051552     7051552         2  2019-08-23 19:11:30  2019-08-23 19:38:23
7051553     7051553         2  2019-08-23 19:00:21  2019-08-23 19:28:49
7051554     7051554         2  2019-08-23 19:00:21  2019-08-23 19:29:42
7051555     7051555         2  2019-08-23 18:52:06  2019-08-23 19:21:31

         Start_Lat   Start_Lng  Distance(mi)  \
ID
0        39.063148  -84.032608         0.010
1        39.747753  -84.205582         0.010
2        39.627781  -84.188354         0.010
3        40.100590  -82.925194         0.010
4        39.758274  -84.230507         0.000
...            ...         ...           ...
7051551  34.002480 -117.379360         0.543
7051552  32.766960 -117.148060         0.338
7051553  33.775450 -117.847790         0.561
7051554  33.992460 -118.403020         0.772
7051555  34.133930 -117.230920         0.537

                                               Description  \
ID
0        Accident on OH-32 State Route 32 Westbound at ...
1        Accident on I-75 Southbound at Exits 52 52B US...
2        Accident on McEwen Rd at OH-725 Miamisburg Cen...
3        Accident on I-270 Outerbelt Northbound near Ex...
4        Accident on Oakridge Dr at Woodward Ave. Expec...
...                                                    ...
7051551                           At Market St - Accident.
7051552    At Camino Del Rio/Mission Center Rd - Accident.
7051553  At Glassell St/Grand Ave - Accident. in the ri...
7051554     At CA-90/Marina Fwy/Jefferson Blvd - Accident.
7051555              At Highland Ave/Arden Ave - Accident.

                            Street          City  ... Nautical_Twilight  \
ID                                                ...
0                   State Route 32  Williamsburg  ...               Day
1                           I-75 S        Dayton  ...               Day
2        Miamisburg Centerville Rd        Dayton  ...               Day
3                   Westerville Rd   Westerville  ...               Day
4                   N Woodward Ave        Dayton  ...               Day
...                            ...           ...  ...               ...
7051551               Pomona Fwy E     Riverside  ...               Day
7051552                      I-8 W     San Diego  ...               Day
7051553           Garden Grove Fwy        Orange  ...               Day
7051554            San Diego Fwy S   Culver City  ...               Day
7051555                   CA-210 W      Highland  ...               Day

        Astronomical_Twilight  Year Month Day Hour  Duration  State Name  \
ID
0                         Day  2016     2   0    6    1800.0        Ohio
1                         Day  2016     2   0    7    1800.0        Ohio
2                         Day  2016     2   0    7    1800.0        Ohio
3                         Day  2016     2   0    7    1800.0        Ohio
4                         Day  2016     2   0    7    1800.0        Ohio
...                       ...   ...   ...  ..  ...       ...         ...
7051551                   Day  2019     8   4   18    1716.0  California
7051552                   Day  2019     8   4   19    1613.0  California
7051553                   Day  2019     8   4   19    1708.0  California
7051554                   Day  2019     8   4   19    1761.0  California
7051555                   Day  2019     8   4   18    1765.0  California

          Region            Division
ID
0        Midwest  East North Central
1        Midwest  East North Central
2        Midwest  East North Central
3        Midwest  East North Central
4        Midwest  East North Central
...          ...                 ...
7051551     West             Pacific
7051552     West             Pacific
7051553     West             Pacific
7051554     West             Pacific
7051555     West             Pacific

[7051556 rows x 48 columns]>

In [5]:
#create copy for this file and drop unnamed column name
regression_df = accidents.copy()
regression_df.drop('Unnamed: 0', axis=1, inplace=True)
#check new df
regression_df.head()

,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),Description,Street,City,County,...,Nautical_Twilight,Astronomical_Twilight,Year,Month,Day,Hour,Duration,State Name,Region,Division
ID,,,,,,,,,,,,,,,,,,,,,
0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,0.01,Accident on OH-32 State Route 32 Westbound at ...,State Route 32,Williamsburg,Clermont,...,Day,Day,2016,2,0,6,1800.0,Ohio,Midwest,East North Central
1,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,0.01,Accident on I-75 Southbound at Exits 52 52B US...,I-75 S,Dayton,Montgomery,...,Day,Day,2016,2,0,7,1800.0,Ohio,Midwest,East North Central
2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,0.01,Accident on McEwen Rd at OH-725 Miamisburg Cen...,Miamisburg Centerville Rd,Dayton,Montgomery,...,Day,Day,2016,2,0,7,1800.0,Ohio,Midwest,East North Central
3,3,2016-02-08 07:44:26,2016-02-08 08:14:26,40.100590,-82.925194,0.01,Accident on I-270 Outerbelt Northbound near Ex...,Westerville Rd,Westerville,Franklin,...,Day,Day,2016,2,0,7,1800.0,Ohio,Midwest,East North Central
4,2,2016-02-08 07:59:35,2016-02-08 08:29:35,39.758274,-84.230507,0.00,Accident on Oakridge Dr at Woodward Ave. Expec...,N Woodward Ave,Dayton,Montgomery,...,Day,Day,2016,2,0,7,1800.0,Ohio,Midwest,East North Central

In [7]:
#describe the data
regression_df.describe()

,Severity,Start_Lat,Start_Lng,Distance(mi),Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Year,Month,Day,Hour,Duration
count,7.051556e+06,7.051556e+06,7.051556e+06,7.051556e+06,7.051556e+06,7.051556e+06,7.051556e+06,7.051556e+06,7.051556e+06,7.051556e+06,7.051556e+06,7.051556e+06,7.051556e+06,7.051556e+06
mean,2.202578e+00,3.618415e+01,-9.457055e+01,5.685456e-01,6.186961e+01,6.441538e+01,2.951444e+01,9.107071e+00,7.691129e+00,2.020027e+03,6.685881e+00,2.599904e+00,1.242746e+01,2.694761e+04
std,4.802376e-01,5.122709e+00,1.730333e+01,1.764164e+00,1.904205e+01,2.275718e+01,1.014852e+00,2.642265e+00,5.412225e+00,1.864212e+00,3.639135e+00,1.805649e+00,5.428667e+00,8.166324e+05
min,1.000000e+00,2.455480e+01,-1.246238e+02,0.000000e+00,-4.500000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.016000e+03,1.000000e+00,0.000000e+00,0.000000e+00,1.200000e+02
25%,2.000000e+00,3.329151e+01,-1.171585e+02,0.000000e+00,4.900000e+01,4.800000e+01,2.934000e+01,1.000000e+01,4.600000e+00,2.019000e+03,3.000000e+00,1.000000e+00,8.000000e+00,2.068000e+03
50%,2.000000e+00,3.581709e+01,-8.767776e+01,3.700000e-02,6.400000e+01,6.700000e+01,2.984000e+01,1.000000e+01,7.000000e+00,2.020000e+03,7.000000e+00,3.000000e+00,1.300000e+01,4.502000e+03
75%,2.000000e+00,4.011675e+01,-8.036947e+01,4.780000e-01,7.600000e+01,8.400000e+01,3.002000e+01,1.000000e+01,1.040000e+01,2.022000e+03,1.000000e+01,4.000000e+00,1.700000e+01,7.539000e+03
max,4.000000e+00,4.900220e+01,-6.711317e+01,4.417500e+02,1.960000e+02,1.000000e+02,5.863000e+01,1.400000e+02,1.087000e+03,2.023000e+03,1.200000e+01,6.000000e+00,2.300000e+01,1.687763e+08

In [8]:
#Wind_Speed 822 mph --> outliner
print(regression_df.index[accidents ['Wind_Speed(mph)'] >822].tolist())
print(regression_df.loc[[86481]])
regression_df.drop(labels=[86481],axis=0, inplace=True)

[86427, 86435, 86468, 86474, 86481, 3016561, 3016571, 5709837, 6488443]
       Severity           Start_Time             End_Time  Start_Lat  \
ID
86481         3  2016-06-13 20:30:47  2016-06-13 21:15:47  34.266048

        Start_Lng  Distance(mi)  \
ID
86481 -118.450768           0.0

                                             Description               Street  \
ID
86481  Accident on I-5 Northbound near Exits 156A 156...  Ronald Reagan Fwy W

                City       County  ... Nautical_Twilight  \
ID                                 ...
86481  Mission Hills  Los Angeles  ...               Day

      Astronomical_Twilight  Year Month Day  Hour  Duration  State Name  \
ID
86481                   Day  2016     6   0    20    2700.0  California

       Region Division
ID
86481    West  Pacific

[1 rows x 47 columns]

In [9]:
#Wind_Speed 243 mph --> outliner
print(regression_df.index[regression_df ['Wind_Speed(mph)'] >242].tolist())
print (regression_df.loc[[776748]])
regression_df.drop(labels=[776748],axis=0, inplace=True)

[86427, 86435, 86468, 86474, 776748, 1603885, 2395874, 2395875, 2518245, 2518272, 2776146, 2807230, 2807236, 3016561, 3016571, 3143629, 5200307, 5709837, 6488443, 6935227]
        Severity           Start_Time             End_Time  Start_Lat  \
ID
776748         2  2021-09-16 13:55:26  2021-09-16 14:40:10  37.492962

        Start_Lng  Distance(mi)                               Description  \
ID
776748 -122.21312           0.0  Accident on Bayshore Rd at Seaport Blvd.

               Street          City     County  ... Nautical_Twilight  \
ID                                              ...
776748  E Bayshore Rd  Redwood City  San Mateo  ...               Day

       Astronomical_Twilight  Year Month Day  Hour  Duration  State Name  \
ID
776748                   Day  2021     9   3    13    2684.0  California

        Region Division
ID
776748    West  Pacific

[1 rows x 47 columns]

In [12]:
regression_df.dtypes

Severity                   int64
Start_Time                object
End_Time                  object
Start_Lat                float64
Start_Lng                float64
Distance(mi)             float64
Description               object
Street                    object
City                      object
County                    object
State                     object
Zipcode                   object
Country                   object
Timezone                  object
Airport_Code              object
Temperature(F)           float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                     bool
Stop                        bool
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
Year                       int64
Month                      int64
Day                        int64
Hour                       int64
Duration                 float64
State Name                object
Region                    object
Division                  object
dtype: object

In [15]:
#Encode and Scale bool and Obj values
bool_obj_columns = regression_df.select_dtypes(include=['bool', 'object']).columns
bool_obj_columns

Index(['Start_Time', 'End_Time', 'Description', 'Street', 'City', 'County',
       'State', 'Zipcode', 'Country', 'Timezone', 'Airport_Code',
       'Wind_Direction', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight', 'State Name', 'Region', 'Division'],
      dtype='object')

In [16]:
le = LabelEncoder()

for col in bool_obj_columns:
    regression_df[col] = le.fit_transform(regression_df[col])

In [18]:
#scaler = StandardScaler()
#regression_df[bool_obj_columns] = scaler.fit_transform(regression_df[bool_obj_columns])

In [21]:
#Rename Columns with () or ' ' for the equation --> otherwise it leads to PatsyError
regression_df = regression_df.rename(columns={
    'Temperature(F)': 'Temperature',
    'Humidity(%)': 'Humidity',
    'Visibility(mi)': 'Visibility',
    'Pressure(in)': 'Pressure',
    'Wind_Speed(mph)': 'Wind_Speed',
    'Distance(mi)': 'Distance',
    'State Name': 'StateName',
})

In [27]:
#basic linearRegressionModel
severity_basic = ols("Severity ~ City", regression_df).fit()
print(severity_basic.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               Severity   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     6763.
Date:                Fri, 05 Jan 2024   Prob (F-statistic):               0.00
Time:                        12:45:36   Log-Likelihood:            -4.8302e+06
No. Observations:             7051554   AIC:                         9.660e+06
Df Residuals:                 7051552   BIC:                         9.660e+06
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      2.2026      0.000   1.22e+04      0.000       2.202       2.203
City          -0.0149      0.000    -82.240      0.000      -0.015      -0.015
==============================================================================
Omnibus:                  2495106.103   Durbin-Watson:                   1.427
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          7844697.282
Skew:                           1.859   Prob(JB):                         0.00
Kurtosis:                       6.588   Cond. No.                         1.00
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.